<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header class="text-center">
        <span class="title" style="font-size: 14px;color:var(--text-primary-color)">CLIENTS Money</span>
      </nb-card-header>
      <nb-card-body class="text-center">
        <div class="row">
          <div class="col-md-6">
            <nb-card>
              <nb-card-header class="text-center">
                <span class="title h5">{{T_C_DR}}</span>
              </nb-card-header>
              <div class="details text-center">
                <div class="h6" style="font-size: 14px;color:var(--text-primary-color)">TOTAL DR</div>
              </div>
            </nb-card>
          </div>
          <div class="col-md-6">
            <nb-card>
              <nb-card-header class="text-center">
                <span class="title h5">{{T_C_CR}}</span>
              </nb-card-header>
              <div class="details text-center">
                <div class="h6" style="font-size: 14px;color:var(--text-primary-color)">TOTAL CR</div>
              </div>
            </nb-card>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card>
      <nb-card-header class="text-center">
        <span class="title" style="font-size: 14px;color:var(--text-primary-color)">SUPPLIERS Money</span>
      </nb-card-header>
      <nb-card-body class="text-center">
        <div class="row">
          <div class="col-md-6">
            <nb-card>
              <nb-card-header class="text-center">
                <span class="title h5">{{T_S_DR}}</span>
              </nb-card-header>
              <div class="details text-center">
                <div class="h6" style="font-size: 14px;color:var(--text-primary-color)">TOTAL DR</div>
              </div>
            </nb-card>
          </div>
          <div class="col-md-6">
            <nb-card>
              <nb-card-header class="text-center">
                <span class="title h5">{{T_S_CR}}</span>
              </nb-card-header>
              <div class="details text-center">
                <div class="h6" style="font-size: 14px;color:var(--text-primary-color)">TOTAL CR</div>
              </div>
            </nb-card>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header class="text-center">
        <span class="title" style="font-size: 14px;color:var(--text-primary-color)">SUPPLIERS GOLD</span>
      </nb-card-header>
      <nb-card-body class="text-center">
        <div class="row">
          <div class="col-md-6">
            <nb-card>
              <nb-card-header class="text-center">
                <span class="title h5">{{T_S_DR_Gold}}</span>
              </nb-card-header>
              <div class="details text-center">
                <div class="h6" style="font-size: 14px;color:var(--text-primary-color)">TOTAL DR</div>
              </div>
            </nb-card>
          </div>
          <div class="col-md-6">
            <nb-card>
              <nb-card-header class="text-center">
                <span class="title h5">{{T_S_CR_Gold}}</span>
              </nb-card-header>
              <div class="details text-center">
                <div class="h6" style="font-size: 14px;color:var(--text-primary-color)">TOTAL CR</div>
              </div>
            </nb-card>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card>
      <nb-card-header class="text-center">
        <span class="title" style="font-size: 14px;color:var(--text-primary-color)">OTHER ACCOUNTS</span>
      </nb-card-header>
      <nb-card-body class="text-center">
        <div class="row">
          <div class="col-md-6">
            <nb-card>
              <nb-card-header class="text-center">
                <span class="title h5">{{T_OA_DR}}</span>
              </nb-card-header>
              <div class="details text-center">
                <div class="h6" style="font-size: 14px;color:var(--text-primary-color)">TOTAL DR</div>
              </div>
            </nb-card>
          </div>
          <div class="col-md-6">
            <nb-card>
              <nb-card-header class="text-center">
                <span class="title h5">{{T_OA_CR}}</span>
              </nb-card-header>
              <div class="details text-center">
                <div class="h6" style="font-size: 14px;color:var(--text-primary-color)">TOTAL CR</div>
              </div>
            </nb-card>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
