button{
  background: linear-gradient(180deg, hsla(217, 20%, 29%, 1) 0%, hsla(215, 7%, 46%, 1) 100%);
  border-color: #5e636e !important;
}

/* Custom overlay for the modal */
.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
  z-index: 999; /* Adjust the z-index to ensure it's above other elements */
}
