USE [master]
GO
/****** Object:  Database [TJSDB]    Script Date: 19/05/2023 01:58:40 ******/
CREATE DATABASE [TJSDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TJSDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TJSDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TJSDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TJSDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TJSDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TJSDB]
GO
/****** Object:  Table [dbo].[TJS_Users]    Script Date: 19/05/2023 01:58:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TJS_Users](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Shop_Name] [nvarchar](50) NULL,
	[User_Name] [nvarchar](50) NULL,
	[User_Password] [nvarchar](500) NULL,
	[Access_Right] [nvarchar](50) NULL,
	[DB_Host_Name] [nvarchar](50) NULL,
	[DB_Catalog_Name] [nvarchar](50) NULL,
	[DB_User_Name] [nvarchar](50) NULL,
	[DB_Password] [nvarchar](50) NULL,
	[Delete_Flag] [nchar](10) NULL,
	[Delete_Date] [datetime] NULL,
	[Delete_User] [nvarchar](50) NULL,
	[Remarks] [nvarchar](250) NULL,
 CONSTRAINT [PK_TJS_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TJS_Users] ON 

INSERT [dbo].[TJS_Users] ([ID], [Shop_Name], [User_Name], [User_Password], [Access_Right], [DB_Host_Name], [DB_Catalog_Name], [DB_User_Name], [DB_Password], [Delete_Flag], [Delete_Date], [Delete_User], [Remarks]) VALUES (CAST(1 AS Numeric(18, 0)), N'Sample Shop Name 01', N'Administrator', N'$2b$10$DsVF0decfFHObhkDURkb2eDYLtXJCeZNRFLCo2oiRvj3F7wdGmQJW', N'', N'', N'', N'', N'', N'          ', CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'', N'This record is for making basing infrastructure of TJS web portal up and running.')
SET IDENTITY_INSERT [dbo].[TJS_Users] OFF
GO
USE [master]
GO
