td.ng2-smart-action-multiple-select>.form-control {
    width: 14px !important ;
}


input[type="checkbox"]{
  width: 5px !important;
}

button{
  background: linear-gradient(180deg, hsla(217, 20%, 29%, 1) 0%, hsla(215, 7%, 46%, 1) 100%);
  border-color: #5e636e !important;
}
