<div class="row">
  <div class="col-md-3">
    <nb-card>
      <nb-card-header class="text-center">
        <span class="title h5">{{totalGrossSales}}</span>
      </nb-card-header>
      <div class="details text-center">
        <div class="h6" style="font-size: 14px;color:var(--text-primary-color)">GROSS SALES</div>
      </div>
    </nb-card>
  </div>
  <div class="col-md-3">
    <nb-card>
      <nb-card-header class="text-center">
        <span class="title h5">{{totalSalesDiscount}}</span>
      </nb-card-header>
      <div class="details text-center">
        <div class="h6" style="font-size: 14px;color:var(--text-primary-color)">DISCOUNTS</div>
      </div>
    </nb-card>
  </div>
  <div class="col-md-3">
    <nb-card>
      <nb-card-header class="text-center">
        <span class="title h5">{{totalReturns}}</span>
      </nb-card-header>
      <div class="details text-center">
        <div class="h6" style="font-size: 14px;color:var(--text-primary-color)">RETURNS</div>
      </div>
    </nb-card>
  </div>
  <div class="col-md-3">
    <nb-card>
      <nb-card-header class="text-center">
        <span class="title h5">{{totalSalesAfterReturn}}</span>
      </nb-card-header>
      <div class="details text-center">
        <div class="h6" style="font-size: 14px;color:var(--text-primary-color)">SALES AFTER RETURNS</div>
      </div>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <nb-card>
      <nb-card-header class="text-center">
        <span class="title h5">{{totalCost}}</span>
      </nb-card-header>
      <div class="details text-center">
        <div class="h6" style="font-size: 14px;color:var(--text-primary-color)">COST</div>
      </div>
    </nb-card>
  </div>
  <div class="col-md-3">
    <nb-card>
      <nb-card-header class="text-center">
        <span class="title h5">{{T_Revenues}}</span>
      </nb-card-header>
      <div class="details text-center">
        <div class="h6" style="font-size: 14px;color:var(--text-primary-color)">REVENUE</div>
      </div>
    </nb-card>
  </div>
  <div class="col-md-3">
    <nb-card>
      <nb-card-header class="text-center">
        <span class="title h5">{{T_Revenue_Percentage}}</span>
      </nb-card-header>
      <div class="details text-center">
        <div class="h6" style="font-size: 14px;color:var(--text-primary-color)">REVENUE %</div>
      </div>
    </nb-card>
  </div>
  <div class="col-md-3">
    <nb-card>
      <nb-card-header class="text-center">
        <span class="title h5">{{netRevenue}}</span>
      </nb-card-header>
      <div class="details text-center">
        <div class="h6" style="font-size: 14px;color:var(--text-primary-color)">NET REVENUES</div>
      </div>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <nb-card>
      <nb-card-header class="text-center">
        <span class="title h5">{{tAverageOunce}}</span>
      </nb-card-header>
      <div class="details text-center">
        <div class="h6" style="font-size: 14px;color:var(--text-primary-color)">AVERAGE OUNCE</div>
      </div>
    </nb-card>
  </div>
  <div class="col-md-3">
    <nb-card>
      <nb-card-header class="text-center">
        <span class="title h5">{{totalGold995Turnover}}</span>
      </nb-card-header>
      <div class="details text-center">
        <div class="h6" style="font-size: 14px;color:var(--text-primary-color)">GOLD 995 TURNOVER</div>
      </div>
    </nb-card>
  </div>
  <div class="col-md-3">
    <nb-card>
      <nb-card-header class="text-center">
        <span class="title h5">{{totalGold18K}}</span>
      </nb-card-header>
      <div class="details text-center">
        <div class="h6" style="font-size: 14px;color:var(--text-primary-color)">EQUIVALENT 18K</div>
      </div>
    </nb-card>
  </div>
</div>
